* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo img {
    width: 98px;
    height: 34px;
}

body {
    height: 1200px;
}

.header .lists a:hover {

    color: green;

}

.header .lists a {
    transition-property: color;
    transition-duration: 1.2s;
    transition-delay: .2;
}

.header .lists {
    text-align: center;
}

.container {
    width: 100%;
    padding: 0 50px;
    margin: auto;
    max-width: 1400px;
    background-color: #F5F5F5;

}

.header {
    position: fixed;
    width: 100%;
    padding: 40px 0;
    align-items: start;


}

.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 20px 20px;

}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.fa-solid {
    width: 20px;
    height: 20px;
    padding: 5px;

}

.header button,
.footer button {
    border: 0;
    padding: 4px 2px;
    background-color: #FB2E86;
}

.header input,
.footer input {
    border: 0;
    padding-left: 5px;
}


.header form,
.footer form {
    border: 1px solid #E7E6EF;
    display: flex;
}

.setting {
    display: none;
}

@media screen and (min-width:0) and (max-width:700px) {
    body {
        background-color: teal;
    }

    .header .lists,
    .header .search-form {
        display: none;
    }

    .setting {
        display: block;
    }

}


.row {
    background-color: #EEEFFB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.row .hero-collection {
    width: 100%;
    justify-content: space-between;
    align-content: center;
}


.hero-collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    padding: 20px 30px;
}

.hero-collections {
    padding-bottom: 50px;
}


.hero-collection img {
    height: 400px;
}

.hero-collection p {
    padding-bottom: 10px;
    color: #FB2E86;
}

.hero-collection button {
    background-color: #FB2E86;
    border: 0;
    padding: 10px 25px;
    color: #FFFFFF;
}

.hero-collection .para1 {
    padding-top: 10px;
}

.hero-collection .para1-color {
    color: #8A8FB9;
}

.hero-collection h2 {
    color: #000000;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;
}

.hero-collection .hero-collection-h2 {
    margin-top: 10px;
}

.products .row {

    justify-content: center;

}

.products .product h2 {
    text-align: center;
    margin-top: 20px;
    color: #1A0B5B;
    font-size: xx-large;
    font-family: "Josefin Sans", sans-serif;

}

.products .product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;



}

.product-details {
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.products .product-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.products .product-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;



}

.products .product-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc((100% - 60px) / 4);


}


.products .product-image {
    background-color: #F6F7FB;
    height: 200px;
    text-align: center;
}

.products button {
    margin-bottom: 10px;
    border: 0;
    padding: 1.5px 6px;
}

.products .product h3 {
    color: #FB2E86;
    font-family: "Lato", sans-serif;
    font-size: medium;
    margin-top: 10px;
}

.products .product span {
    color: #151875;
}

.products .product .btn1 {
    background-color: #05E6B7;
}

.products .product .btn2 {
    background-color: #F701A8;
}

.products .product .btn3 {
    background-color: #00009D;
}

@media screen and (min-width:801px) and (max-width:950px) {

    .products .product .product-item {
        justify-content: center;

        width: calc((100% - 40px) / 3);

    }
}

@media screen and (min-width:500px) and (max-width:800px) {

    .products .product .product-item {
        justify-content: center;

        width: calc((100% - 20px) / 2);

    }
}

@media screen and (min-width:0px) and (max-width:499px) {

    .products .product .product-item {
        justify-content: center;

        width: 100%;

    }
}

.last-products .container {
    padding-top: 50px;
    background-color: white;
}

.last-products .row {
    text-align: center;
    background-color: white;
}


.last-products .last-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.last-product h2 {
    color: #151875;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;
}

.items-product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;


}

.items-product .item-product {
    width: calc((100% - 40px) / 3);
}

.last-product .header-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;


}

.last-product .info-product h3 {
    color: #151875;
    font-size: large;
    font-family: "Josefin Sans", sans-serif;
}

.last-product .info-product span {
    color: #151875;
}

.last-product .info-product .span-color {
    color: #FB2448;
    text-decoration: line-through;

}

.item-product .image-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    align-items: center;
    background-color: #F7F7F7;

}

.item-product .info-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.shopex .container {
    margin-top: 50px;
    background-color: #F5F5F5;
}

.shopex .row {
    justify-content: center;

}

.shopex .supports {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.support-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 10px;
    margin-bottom: 30px;
    text-align: center;
}

.support {
    background-color: #FFFFFF;
    padding: 10px 10px;
}

.support p {
    color: #1A0B5B;
    padding-top: 10px;
}

.support h3 {
    color: #151875;
    padding-top: 10px;
}

.supports h2 {
    color: #151875;
    font-size: xx-large;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 20px;
}

.trending-products .container {
    padding-top: 50px;
    background-color: white;

}

.trending-products .row {
    justify-content: center;
    align-items: center;

}

.trending-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.all-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 20px;

}

.all-product {
    width: calc((100% - 60px) / 4);
    background-color: white;
}

.all-product .all-product-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #F5F6F8;

}

.trending-product h2 {
    color: #151875;
    font-size: xx-large;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 15px;
}

.all-product h3 {
    padding: 10px;
    color: #151875;
    font-size: large;
    font-family: "Josefin Sans", sans-serif;
}

.all-product .all-product-info .color-span {
    color: #151875;
}

.all-product .all-product-info .color-span-fixed {
    text-decoration: line-through;
}

.all-product .all-product-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-bottom: 15px;
}

.top-categories .container {
    padding-top: 50px;
    background-color: white;

}

.top-categories .row {
    background-color: white;
    text-align: center;
    justify-content: center;
}

.top-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.all-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;

}

.category {
    width: calc((100% - 90px) / 4);

}

.category .category-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F7FB;
    height: 200px;
    align-items: center;
}

.top-category h2 {
    color: #151875;
    font-size: xx-large;
    font-family: "Josefin Sans", sans-serif;
}

.category .info-category {
    color: #151875;
    font-size: small;
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
}

.category .details-category {
    color: #151875;
}

.hero-section {
    background-image: url(./../image/Rectangle\ 102.png);
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.hero-content {
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 0 4px 4px 0 #000000;
    font-size: 14px;
    font-weight: 100;

}

.hero-section button {
    background-color: #FB2E86;
    border: 0;
    padding: 10px 25px;
    color: #FFFFFF;
}

.hero-content-h2 {
    text-align: center;
    padding-top: 20px;

}
.blogs .container{
    padding-top: 50px;
    background-color: white;
}

.blogs .row{
    justify-content: center;
    background-color: white;
}

.all-blog{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;   
}
.blog{
    width: calc(( 100% - 40px ) / 3 );
}
.blog .details-blogs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.blog .details-blogs span{
    color: #151875;
     font-size:smaller;
    font-family: "Josefin Sans", sans-serif;
}
.blog .details-blogs i{
    font-size: smaller;
}
.blog .details-blogs .fa-pen{
    color: #FB2E86;
}
.blog .details-blogs .fa-calendar-days{
    color: #FFA454;
}
.blog p{
    color: #72718F;
     font-size:medium;
    padding-bottom: 10px;
}
.blog a{
    margin-top: 10px;
    text-decoration: underline;
}

.details-blogs{
    display: flex;
    justify-content: flex-start;
    
}
.last-blogs h2{
    color: #151875;
    text-align: center;
    font-size: xx-large;
    font-family: "Josefin Sans", sans-serif;
    padding: 20px;
     font-size:xx-large;
    font-family: "Josefin Sans", sans-serif;
}
.blog h3{
    color: #72718F;
     font-size:small;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 15px;
}


.footer .row {
    gap: 20px;
    margin-top: 50px;
    align-items: flex-start;
    margin-bottom: 20px;
}


.footer .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 50px;


}

.footer .row .left-side {
    width: calc((100% - 20px) / 2);
}

.footer .cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}


.footer .right-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

.footer .right-side {
    width: calc((100% - 20px) / 2);
}

@media screen and (min-width:0) and (max-width:600px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }

}


.footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.footer .footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}