* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo img {
    width: 98px;
    height: 34px;
}

body {
    height: 1200px;
}

.header .lists a:hover {

    color: green;

}

.header .lists a {
    transition-property: color;
    transition-duration: 1.2s;
    transition-delay: .2;
}

.header .lists {
    text-align: center;
}

.container {
    width: 100%;
    padding: 0 50px;
    margin: auto;
    max-width: 1400px;
    background-color: #F5F5F5;

}

.header {
    position: fixed;
    width: 100%;
    padding: 40px 0;
    align-items: start;

}

.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.fa-solid {
    width: 20px;
    height: 20px;
    padding: 5px;

}

.header button,
.footer button {
    border: 0;
    padding: 4px 2px;
    background-color: #FB2E86;
}

.header input,
.footer input {
    border: 0;
    padding-left: 5px;
}


.header form,
.footer form {
    border: 1px solid #E7E6EF;
    display: flex;
}

.setting {
    display: none;
}

@media screen and (min-width:0) and (max-width:700px) {
    body {
        background-color: teal;
    }

    .header .lists,
    .header .search-form {
        display: none;
    }

    .setting {
        display: block;
    }

}

p {
    padding-top: 100px;
}

.row {
    background-color: #EEEFFB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.products .row {
    align-items: flex-start;

    justify-content: center;
   
}
.products .product h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #1A0B5B;
    font-size:xx-large;
     font-family: "Josefin Sans", sans-serif;
}

.products .product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   


}
.product-details{
    background-color: #FFFFFF;
   text-align: center;
   margin-bottom: 20px;
   padding-bottom: 10px;
}
.products .product-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.products .product-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc( ( 100% - 20 ) / 4 );
}
.products .product-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    
   
}
.products .product-image{
    background-color: #F6F7FB;
    height: 200px;
    text-align: center;
}

.products button{
    margin-bottom: 10px;
    border: 0;
    padding: 1.5px 6px;
}
.products .product h3{
    color: #FB2E86;
    font-family: "Lato", sans-serif;
    font-size: medium;
    margin-top: 10px;
}
.products .product span{
    color: #151875;
}
.products .product .btn1{
    background-color: #05E6B7;
}
.products .product .btn2{
    background-color: #F701A8;
}

.products .product .btn3{
    background-color: #00009D;
}




.hero-section {
    background-image: url(./../image/Rectangle\ 102.png);
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.hero-content {
    color: #151875;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 0 4px 4px 0 #000000;
    font-size: 14px;
    font-weight: 100;

}

.hero-section button {
    background-color: #FB2E86;
    border: 0;
    padding: 10px 25px;
    color: #FFFFFF;
}

.hero-content-h2 {
    text-align: center;
    padding-top: 20px;

}


.footer .row {
    gap: 20px;
    margin-top: 50px;
    align-items: flex-start;
}


.footer .left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;


}

.footer .left-side {
    width: calc( ( 100% - 20 ) / 2 );
}

.footer .cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}


.footer .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer .right-side {
    width: calc((100% - 20) / 2);
}

@media screen and (min-width:0) and (max-width:600px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }

}


.footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.footer .footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}